{% extends 'index.html' %}

{% block body %}
<div class="row fs-4">
    <div class="col p-5 border-bottom border-dark">
        <form action="/post/" class="" method="post">
            <label for="post" class="mb-5 d-block">What's on your mind? Create a new post:</label>
            {% with messages = get_flashed_messages(category_filter=['post']) %}
                {% if messages %}
                    <div class="errors text-danger p-2">
                        {% for message in messages %}
                            <p class="mx-0 my-1">{{message}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <textarea name="content" id="" class="w-100 p-2" rows="6">{{session['content']}}</textarea>
            <div class="d-flex align-items-center justify-content-end py-3">
                <input type="submit" class="p-2 col col-2" value="Publish">
            </div>
        </form>
    </div>
</div>
<h2 class="my-5">All Community Posts</h2>
<div id="all_posts" class="bg-info mb-5 px-3 fs-4">
    
    {% for post in posts %}
        <h4>{{post.creator.first_name}} {{post.creator.last_name}} - {{post.created_at}}</h4>
        <div id="post" class="px-5 pt-2 pb-5">{{post.content}}</div>
    {% endfor %}

    <h4>Herbert - June 26</h4>
    <div id="post" class="px-5 pt-2 pb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea minus dolor assumenda iste velit vero rerum, vel voluptas modi inventore? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est dignissimos quo impedit ipsa sequi, deserunt quas nemo? Ex, culpa!</div>
    <h4>Herbert - June 26</h4>
    <div id="post" class="px-5 pt-2 pb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea minus dolor assumenda iste velit vero rerum, vel voluptas modi inventore? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est dignissimos quo impedit ipsa sequi, deserunt quas nemo? Ex, culpa!</div>
    <h4>Herbert - June 26</h4>
    <div id="post" class="px-5 pt-2 pb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea minus dolor assumenda iste velit vero rerum, vel voluptas modi inventore? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est dignissimos quo impedit ipsa sequi, deserunt quas nemo? Ex, culpa!</div>
    <h4>Herbert - June 26</h4>
    <div id="post" class="px-5 pt-2 pb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea minus dolor assumenda iste velit vero rerum, vel voluptas modi inventore? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est dignissimos quo impedit ipsa sequi, deserunt quas nemo? Ex, culpa!</div>
    <h4>Herbert - June 26</h4>
    <div id="post" class="px-5 pt-2 pb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea minus dolor assumenda iste velit vero rerum, vel voluptas modi inventore? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est dignissimos quo impedit ipsa sequi, deserunt quas nemo? Ex, culpa!</div>
    <h4>Herbert - June 26</h4>
    <div id="post" class="px-5 pt-2 pb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea minus dolor assumenda iste velit vero rerum, vel voluptas modi inventore? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est dignissimos quo impedit ipsa sequi, deserunt quas nemo? Ex, culpa!</div>
</div>




{% endblock body %}
